 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I love oldschool, music, yoyoing, and hacking. It's common that during the course of a day I will hack computers, play guitar/piano, and throw some yo. I won't rest until I can get health insurance and proper cash flow coming in based on my love for oldschool!</p>
                </div>
                <div class="col-lg-4">
                    <p>I love oldschool and legacy everything, I'm great at hacking, but I'm largely penned up at home. I wonder if with this site I can attract people out there with good fortune to take me upon their team. My dream is start becoming independent from my family, working passionately on these things I love. I'm trying to find where I belong, somewhere I can be happy.</p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>