    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" id="profilepic" src="img/profile.jpeg" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                        <br><br><br>
                        <iframe src="http://battleofthebits.org/player/Radio/botbr/5535/" width="700"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </header>